
.app-wrapper {
    display: grid;

    grid-template-areas:
"header header header"
"nav content content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 0px;

}
.header {
    grid-area: header;
    background: red;
}
.sidebar {
    grid-area: nav;
    background:yellow;
}
.content {
    grid-area: content;
    background:blue;
}