
.app-wrapper {
    display: grid;
    width:80%;
    margin:20px auto 0 auto;
    grid-template-areas:
"header header header"
"nav content content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 0px;

}

.app-wrapper-content {
    grid-area: content;
    background: blue;
}

a.active {
    font-weight: bold;

}